## Features por persona

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import inline as inline

data_raw = pd.read_csv('events_up_to_01062018.csv',low_memory=False)
data_val = pd.read_csv('labels_training_set.csv',low_memory=False)
df_labels = data_val.copy(deep=True) 
df = data_raw.copy(deep=True)

### Con get_dummies por numero de la semana en el mes (no lo uso porque no mejora score interno)

In [2]:
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['month'] = df['timestamp'].dt.month
df['day-of-week'] = df['timestamp'].dt.day_name()
df['week'] = df['timestamp'].dt.week

Me quedo con los del mes 5

In [3]:
df = df.loc[df["month"]==5]

In [4]:
df["week"]=df["week"]-df["week"].min()+1

In [5]:
df_por_semana=df[["person","week"]]

In [6]:
dummies_por_semana = pd.get_dummies(df_por_semana["week"])

In [7]:
semana = df_por_semana.merge(dummies_por_semana,left_index=True, right_index=True)

In [8]:
semana = semana[["person",1,2,3,4,5]]

In [9]:
semana = semana.groupby(["person"]).agg({1:'mean',2:'mean',3:'mean',4:'mean',5:'mean'})

In [10]:
semana=semana.reset_index()

In [11]:
semana.head()

     person         1         2         3         4         5
0  0008ed71  0.000000  0.000000  1.000000  0.000000  0.000000
1  00091926  0.073661  0.294643  0.372768  0.216518  0.042411
2  000ba417  0.000000  0.000000  0.330097  0.669903  0.000000
3  000c79fe  0.000000  0.000000  0.000000  0.000000  1.000000
4  000e4d9e  0.000000  0.000000  0.474453  0.343066  0.182482

In [13]:
semana.to_csv("numero_de_semana.csv")

### Con get_dummies por dia de la semana en el mes (no lo uso porque no mejora score interno)

In [20]:
df['week-day'] = df['timestamp'].dt.day_name()

In [21]:
df.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,region,country,device_type,screen_resolution,operating_system_version,browser_version,month,day-of-week,week,week-day
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5,Friday,3,Friday
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5,Friday,3,Friday
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5,Friday,3,Friday
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5,Friday,3,Friday
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5,Friday,3,Friday

In [22]:
dia_de_la_semana = pd.get_dummies(df["week-day"])

In [24]:
dia_de_la_semana = df.merge(dia_de_la_semana,left_index=True,right_index=True)

In [26]:
dia_de_la_semana = dia_de_la_semana[["person","Friday","Monday","Saturday","Sunday","Thursday","Tuesday","Wednesday"]]

In [27]:
dia_de_la_semana.head()

     person  Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
0  4886f805       1       0         0       0         0        0          0
1  ad93850f       1       0         0       0         0        0          0
2  0297fc1e       1       0         0       0         0        0          0
3  2d681dd8       1       0         0       0         0        0          0
4  cccea85e       1       0         0       0         0        0          0

In [37]:
df_week = dia_de_la_semana.groupby(["person"]).agg({'Monday':'mean','Tuesday':'mean','Wednesday':'mean','Thursday':'mean','Friday':'mean','Saturday':'mean','Sunday':'mean'}).reset_index()

In [38]:
df_week.head()

,person,Monday,Tuesday,Friday,Wednesday,Thursday,Sunday,Saturday
0,0008ed71,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
1,00091926,0.071429,0.095982,0.191964,0.089286,0.187500,0.292411,0.071429
2,000ba417,0.000000,0.000000,0.000000,0.000000,0.713592,0.000000,0.286408
3,000c79fe,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,000e4d9e,0.065693,0.340633,0.019465,0.503650,0.070560,0.000000,0.000000

In [39]:
df_week.to_csv('dia_de_semana.csv', index = False)